// Feedback Modal

#imprintModal.modal.fade(tabindex='-1', aria-labelledby='imprintModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-header.bg-gradient-primary-to-secondary.p-4
                h5#feedbackModalLabel.modal-title.font-alt.text-white Legal & Imprint
                button.btn-close.btn-close-white(type='button' data-bs-dismiss='modal', aria-label='Close')
            .modal-body.border-0.p-4

                